<div class=post id="<%= dom_id quote %>">
  <p class=quotes>
    <strong>Post:</strong>
    <%= quote.post %>
  </p>

  <p class=authors>
    <strong>Author:</strong>
    <%= quote.author %>
  </p>

</div>
