<div class=post id="<%= dom_id quote %>">
  <p class=quotes>
    <strong class=brown>Quotes:</strong>
    <%= quote.post %>
  </p>

  <p class=authors>
    <strong class=brown>Author:</strong>
    <%= quote.author %>
  </p>

</div>
